* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-image: url('../assets/bg.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo img {
  margin: 70px 50px;
}

nav {
  width: 75%;
}

.drop-btn {
  margin: 70px 50px;
  font-size: 24px;
  display: none;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 40px 20px 0 0;
  font-size: 22px;
  padding: 0 0 35px 0;
  border-bottom: 3px solid #ffffff;
}

.list .list-items {
  display: flex;
  align-items: center;
}

.call {
  height: 32px;
  margin-right: 10px;
}

/* Hero Section */

/* Sec-1 */

.sec-1 {
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin: 0 auto 80px auto;
}

.sec-1 h1 {
  margin-top: 75px;
  font-size: 65px;
  width: 50%;
  align-self: flex-end;
  line-height: 1.3;
  letter-spacing: 1px;
}

.card {
  height: 124px;
  width: 290px;
  padding: 30px;
  background-color: rgb(255, 255, 255, 20%);
  position: relative;
}

.sec-1 .card::before {
  content: '';
  background-color: #ffffff;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  bottom: -90px;
  right: 80px;
}

.sec-1 .card::after {
  content: '';
  background-color: #ffffff;
  height: 70px;
  width: 2px;
  position: absolute;
  bottom: -70px;
  right: 90px;
}

.card h3 {
  margin-top: 15px;
  font-size: 21px;
}

.card-img {
  height: 50px;
}

/* Sec-2 */

.sec-2 {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 22% 0 auto;
}

.btn {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 40px;
  color: #ffffff;
  height: 100%;
  font-size: 26px;
  font-weight: 600;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 20px 40px;
}

.sec-2 .card::before {
  content: '';
  background-color: #ffffff;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  top: 52px;
  right: -90px;
}

.sec-2 .card::after {
  content: '';
  background-color: #ffffff;
  width: 70px;
  height: 2px;
  position: absolute;
  top: 62px;
  right: -70px;
}

@media screen and (max-width: 988px) {
  nav {
    display: none;
  }

  .drop-btn {
    display: block;
  }

  .sec-1 h1 {
    width: 100%;
    text-align: center;
  }

  .card {
    display: none;
  }

  .sec-2 {
    margin: auto;
    width: 50%;
  }

  .sec-2 button {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .logo img {
    margin: 35px 30px;
  }

  .drop-btn {
    margin: 35px 30px;
  }

  .sec-1 {
    margin-bottom: 30px;
  }

  .sec-1 h1 {
    margin-top: 30px;
    font-size: 45px;
  }
}
